<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>

    <script src="/p5.js"></script>
  </head>
  <body>
    <header class="topnav">
      <img
        src="https://cdn.glitch.com/3ab057db-f8fe-4015-bbd0-72c10fc18fee%2Fthumbnails%2FPHSRoboticsLogo-removebg-preview.png?1597353011121"
        alt="logo"
      />
      <span id="navbar">
        <a href="index.html"><b>Home</b></a>
        <div class="dropdown">
          <button class="dropbtn"><b>Teams</b></button>
          <div class="dropdown-content">
            <a href="adders.html">13586 Adders</a>
            <a href="pithons.html">12393 Pithons</a>
            <a href="diamondbacks.html">12394 Diamondbacks</a>
            <a href="diamonds.html">15205 Diamonds</a>
          </div>
        </div>
        <a href="outreach.html"><b>Outreach</b></a>
        <a href="officers.html"><b>Officers & Mentors</b></a>
        <a href="blog.html"><b>Blog</b></a>
        <a class="active" href="alumni.html"><b>Alumni</b></a>
      </span>
      <div id="socials">
        <a href="https://www.instagram.com/pioneer.robotics.club/?hl=en"
          ><img
            src="https://cdn.glitch.com/3ab057db-f8fe-4015-bbd0-72c10fc18fee%2Fthumbnails%2FInstagramLogo.png?1597355070808"
            style="width:28px;height:28px;"
        /></a>
        <a href="https://twitter.com/PioneerRobots"
          ><img
            src="https://cdn.glitch.com/3ab057db-f8fe-4015-bbd0-72c10fc18fee%2Fthumbnails%2FTwitterLogo.png?1597355106767"
            style="width:28px;height:28px;"
        /></a>
      </div>
    </header>
    <main>
      <h1>Alumni</h1>
      <section></section>
    </main>
  </body>
</html>
