<!DOCTYPE html>
<html lang="en">
  <head id="header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello!</title>

    <!-- import the webpage's stylesheet -->
    <!-- <link rel="stylesheet" href="/style.css" /> -->

    <!-- import the webpage's javascript file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- <script src="/script.js" defer></script> -->
    <!-- <script src="/p5.js"></script> -->
  </head>
  <body>
    <header class="topnav">
      <img
        src="https://cdn.glitch.com/3ab057db-f8fe-4015-bbd0-72c10fc18fee%2Fthumbnails%2FPHSRoboticsLogo-removebg-preview.png?1597353011121"
        alt="logo"
      />
      <span id="navbar">
        <a class="active" href="index.html"><b>Home</b></a>
        <div class="dropdown">
          <button class="dropbtn"><b>Teams</b></button>
          <div class="dropdown-content">
            <a href="adders.html">13586 Adders</a>
            <a href="pithons.html">12393 Pithons</a>
            <a href="diamondbacks.html">12394 Diamondbacks</a>
            <a href="diamonds.html">15205 Diamonds</a>
          </div>
        </div>
        <a href="outreach.html"><b>Outreach</b></a>
        <a href="officers.html"><b>Officers & Mentors</b></a>
        <a href="blog.html"><b>Blog</b></a>
        <a href="alumni.html"><b>Alumni</b></a>
      </span>
      <div id="socials">
        <a href="https://www.instagram.com/pioneer.robotics.club/?hl=en"
          ><img
            src="https://cdn.glitch.com/3ab057db-f8fe-4015-bbd0-72c10fc18fee%2Fthumbnails%2FInstagramLogo.png?1597355070808"
            style="width:28px;height:28px;"
        /></a>
        <a href="https://twitter.com/PioneerRobots"
          ><img
            src="https://cdn.glitch.com/3ab057db-f8fe-4015-bbd0-72c10fc18fee%2Fthumbnails%2FTwitterLogo.png?1597355106767"
            style="width:28px;height:28px;"
        /></a>
      </div>
    </header>
    <main>
      <h1>Pioneer Robotics</h1>
    <section>
      <button>Left</button>
      <img
        id="mainPageHeader"
        src="https://cdn.glitch.com/3ab057db-f8fe-4015-bbd0-72c10fc18fee%2FRobotics%20Picture%201-%20Edited.jpg?v=1597436649754"
      />
      <button>Right</button>
      <p>
        Welcome to the Page of the Diamondbacks Robotics Club! We are a club
        based in the Rio Grande Valley (RGV) and compete in the FIRST Tech
        Challenge. The club was founded was 6 years ago and has competed in
        FIRST for the last 4 years. To learn more about our club, teams,
        outreach, and much more click the tabs above.
      </p>
    </section>
    <section>
      <h2>What is First?</h2>
      <p>
        <a href="https://www.firstinspires.org/">First Website</a>
        <a
          href="https://www.firstinspires.org/resource-library/ftc/game-and-season-info"
          >Game Manual 2020</a
        >
        <a href="https://youtu.be/dQw4w9WgXcQ"
          >Game Manual 2022 + CheatCodes 100% FREE Inspire Award!!!</a
        >
      </p>
    </section>
    </main>
    
    
    <footer>
      <h3>Contact Us</h3>
      <ul>
        <li>Phone: ###-###-####</li>
        <li>Phone: ###-###-####</li>
      </ul>
      <ul>
        <li>Last Update</li>
      </ul>
      <p>
        Form
      </p>
    </footer>
  </body>
</html>
